/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: blue;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*added adition moving backgorund*/
/*@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #0040C1;
    overflow: hidden;
}

    .background li {
        position: absolute;
        top: 80vh;
        left: 45vw;
        width: 10px;
        height: 10px;
        border: solid 1px #0039ad;
        color: transparent;
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        animation: cube 7s ease-in forwards infinite;
    }

undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 23vw;
    top: 97vh;
    border-color: #0046d4;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 9vw;
    top: 56vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 86vw;
    top: 39vh;
    border-color: #0046d4;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 78vw;
    top: 2vh;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 48vw;
    top: 26vh;
    border-color: #0046d4;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 65vw;
    top: 74vh;
    border-color: #0046d4;
}
*/