@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/GoPokemonLogo.png" style="width:100%; height:auto;" />
</div>
<br />
@*<div class="box3 sb13">I'm speech bubble</div>*@
<div>
    <div class="speechBubble" style="width:100%; height:auto;">Hi there! Welcome to our GoPokemon Website.</div>

    <img style="position:relative; float:right; width:100%; height:auto;" src="~/img/ProfessorOak3.png" />
</div>
@*<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>*@

