@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/img/GoPokemonLogo.png" />
</div>
<br />
@*<div class="box3 sb13">I'm speech bubble</div>*@
<div>
    <div class="speechBubble">Hi there! Welcome to our GoPokemon Website.</div>

    <img style="position:relative; float:right;" src="~/img/ProfessorOak3.png" />
</div>
@*<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>*@

