@page
@model GoPokemon.Areas.Cards.ResultCardModel
@{
}
<div class="text-center">
    <h1>Your Uploaded Image:</h1>
    <img src="~/CardImages/@TempData["imageKey"]" />
    <div id="result"></div>
</div>

<script src="~/js/tf.min.js"></script>
<script src="~/js/javaClass.js"></script>